</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form for student details</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
</head>
<body background="https://th.bing.com/th/id/R.655f05986367fe9f5906a9a461f592b9?rik=WiKrPBhBAMYv3w&riu=http%3a%2f%2ffindmyresort.in%2fimages%2fresource%2fabout.jpg&ehk=mpQuW1aZP390%2bARdwuD8%2b0UErz%2bm3eMZkFj4tMkG7Dc%3d&risl=&pid=ImgRaw&r=0" style="background-repeat:no-repeat;background-size:cover;">
    <div class="card" style="width: 20rem;height:18rem;margin-left: 600px;margin-top: 200px;background:linear-gradient(120deg,rgb(250, 84, 167),rgb(4, 252, 240));" align="center">
        <img class="card-img-top" src="/views/vishnu2.jpeg" width="50px" height="50px">
        <div class="card-body">
          <form action="/submits" method="get">
            <h5 class="card-title">Registration number</h5>
            <br>
            <p class="card-text">
              <input type="text" placeholder="registration number" name="regno">
            </p>
            <input type="text" name="purpose" placeholder="purpose" name="purpose">
            <br>
            <br>
            <button class="btn btn-primary">submit</button>
            <!-- <a class="btn btn-primary">submit</a> -->
          </form>
        </div>
      </div>
</body>
</html>