<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
  <!-- <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
  <title>select your certificate</title>
  <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div>
    <ul class="nav nav-pills nav-fill expand-lg fs-5">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Study" class="one">
          <h5>study certificate</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Concern" class="one">
          <h5>concern certificate</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Custodian" class="one">
          <h5>custodian certificate</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Fee" class="one">
          <h5>fee certificate</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Residence" class="one">
          <h5>residence certificate</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Internship" class="one">
          <h5>internship certificate</h5>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/StudyConduct" class="one">
          <h5>study&conduct certificate</h5>
        </a>
      </li>
    </ul>
  </div>
</body>

</html>